/* CS styles for "Mark's Coin Cap" application */

body {
    background:#efefefef;
    color:#444444;
  }


/* Indicate that table header column may be selected (to trigger table sort) */
th[name="sortColumn"] {
  cursor: pointer;
}

/* Indicate that a coin (row) in the table can be selected */
tr[name="coinTableRow"] {
  cursor: pointer;
}


/* TODO - Make the column headers sticky 
thead.sticky {
  background:#f0f7fa;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}
*/


/* Styles for COMPONENT Currency Selector  */

/* Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The search field */
#currencySelectorComponentInputbox {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#currencySelectorComponentInputbox:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 200%;
  overflow:auto;
  height: 300px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



